{% extends 'template/vue_base_page.html' %}

{% block root_content %}
<h1>Login Here</h1>
<div>
    <div>
        <input type="text" name="account" v-model="account" >
    </div>
    <div>
        <input type="password" name="pwd" v-model="pwd" >
    </div>
    <div>
        <p v-if="err">[[err]]</p>
    </div>
    <div>
        <button @click="requestLogin()">[[isWorking ? 'Loading...' : 'Login']]</button>
    </div>
</div>
{% endblock %}

<script lang="vue">
    window.RootModel = {
        data: {
            account:'', pwd:'', err:'',
            isWorking:false
        },
        methods: {
            requestLogin:function() {
                this.isWorking = true;
                this.err = '';
                this.login(this.account, this.pwd, null, function(err, sess) {
                    this.isWorking = false;
                    this.err = err;
                }.bind(this));
            }
        }
    };
</script>