{% extends 'template/vue_base_page.html' %}

{% block root_content %}
<h1>[[msg]]</h1>
<h3>count: [[num]]</h3>
<input type="text" v-model="msg"/> <button @click="counting()">Click</button>
{% endblock %}

<script lang="vue">
    window.RootModel = {
        data: {
            msg:'Hello World',
            num:0
        },
        methods: {
            counting: function() {
                this.num ++;
            }
        }
    };
    setTimeout(function () {
        RootModel.data.num += 10;
    }, 2000);
</script>