{% extends './admin_template_page.html' %}

{% block head_import_style %}
{{ super() }}
<link rel="stylesheet" href="{{setting.RES_CDN_DOMAIN}}/css/nprogress.css">
<link rel="stylesheet" href="{{setting.RES_CDN_DOMAIN}}/css/main.css">
<link rel="stylesheet" href="{{setting.RES_CDN_DOMAIN}}/css/preinit.css">
{% endblock %}

{% block head_import_script %}
{{ super() }}
{% endblock %}

{% block head_custom_script %}
{{ super() }}
{% endblock %}

{% block body %}
<script>NProgress.set(0.15);</script>
<div class="root">
{% block root_content %}
{% endblock %}
</div>
{% endblock %}

{% block footer_import_base_script %}
{{ super() }}
<script type="text/javascript" src="{{setting.RES_CDN_DOMAIN}}/js/vue.js"></script>
{% block footer_import_vue_component_script %}
{% endblock %}
{% block vue_dependency %}
<!--<vue src="{{setting.RES_CDN_DOMAIN}}/js/app/.js"></vue>-->
{% endblock %}
<script inject="user">window.$user={{user|json}};</script>
<script type="text/javascript" src="{{setting.RES_CDN_DOMAIN}}/js/init.js"></script>
{% endblock %}